
.popup-footer {
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

#image-date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.copyright-tag {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
}